html {
  font-size: 10px;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-size: 1.7rem;
  line-height: 2.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
}

h1 {

}

a,
a:hover,
a:active,
a:focus {
  color: #D71920;
}

p {
  font-size: 1.7rem;
  line-height: 2.6rem; 
}

p:first-child {
  font-size: 2.1rem;
  line-height: 2.8rem;
}


p.text-caps-light,
li.text-caps-light {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #adadad;
  text-transform: uppercase;
}

p.text-caps,
li.text-caps {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.table-responsive {
  border: none;
}

.container-fluid {
  background-color: white;
}

.relative {
  position: relative;
}

.display {
  display: inline-block;
}

.m0 {
  margin: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb45 {
  margin-bottom: 45px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.p0 {
  padding: 0;
}

.b0 {
  border: 0;
}


#grid[data-columns]::before {
  content: '1 .column.size-1of1';
}


/* Again, you’re free to use and define the classes: */
.column { 
  float: left;
  width: 100% 
}
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }


dl {
  margin-bottom: 30px;
}

.li0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 0px 0px 3px #000;
}

#nav-top {
  padding: 15px 0 15px;
}

#nav-top .social a {
  color: #999;
  margin-top: 3px;
  display: inline-block;
  margin-right: 10px;
}
#nav-top .social a:hover {
  color: #666;
}


#nav-main {
  background: white;
  border-bottom: 4px solid #d71920;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  z-index: 999;
}

.navbar-nav {
  margin-left: -15px;
}

.navbar-collapse {
  border-top: none;
}

#nav-main-logo {
  float: left;
  margin-bottom: 0;
  width: 0;
  opacity: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#nav-main-logo.display {
  opacity: 1;
  display: inline-block;
  width: 120px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#nav-main-logo img {
  height: 41px;
  width: 90px;
  margin-top: -10px;
  margin-left: 0;
}

#nav-main li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 4px solid white;
}
#nav-main li a:hover,
#nav-main li.open a {
  color: #D71920;
  /*border-bottom: 4px solid #D71920;*/
  /*background: #e7e7e7;*/
}
#nav-main li.active>a {
  background: white;
  color: #D71920;
}
#nav-main li.open>a {
  border-bottom: 4px solid #f2f2f2;
  background: #f2f2f2;
}
#nav-main li.open li a {
  padding: 5px 20px 5px 15px;
}
#nav-main li.open li a:hover {
  /* background: white; */
  text-decoration: underline;
}



.navbar-nav>li>.dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  border:none;
  background-color: #f2f2f2;
}

.navbar-nav .open .dropdown-menu {
  background-color: #f2f2f2;
}

#nav-main .dropdown-menu li a {
  font-size: 1.25rem;
  color: #333;
  border-bottom: 4px solid transparent;
  background-color: transparent;
}
#nav-main .dropdown-menu li a:hover {
  color: #D71920;
  text-decoration: none !important;
  background-color: transparent;
}



.navbar-toggle {
  border: none;
  background: transparent !important;
  padding-right: 5px;
  padding-top: 10px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}



.nav-pills>li{
  margin-right: 10px;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #adadad;
  text-transform: uppercase;
}
.nav-pills>li.hd {
  padding: 4px 10px 4px 0;
}
.nav-pills>li>a:hover{
  background-color: #e7e7e7;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #D71920;
}
.nav-pills>li>a {
    border-radius: 0px;
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    padding: 5px 14px;
}


.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
  border: none
}

.navbar-nav:not(.sm-collapsible) ul .caret {
  position: relative; 
  right: 0px;
  margin-top: -4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed;
  margin-left: 10px;
  display: inline-block; 
}

header {
  height: 200px;
  width: 100%;
  max-height: 200px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

dt {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 10px;
}
dd {
  padding-bottom: 5px;
}


.header-text {
  position: absolute;
  bottom: 20px;
  left: 5px;
  z-index: 3;
}

.header-text h1 a {
  color: white;
  text-decoration: none;
}

.header-logo {
  padding-top: 74px;
  position: relative;
  z-index: 4;
}
.header-logo a {
  position: relative;
  z-index: 4;
  display: inline-block;
}
.header-logo a img {
    width: 150px;
    height: 150px;
}

.shadow-overlay {
  background: url(/img/shadow-overlay.png) repeat-x 0 100%;
  bottom: 0;
  height: 150px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.usva-panel {
  background: white;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(215,25,32,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(215,25,32,1);
  box-shadow: 5px 5px 0px 0px rgba(215,25,32,1);
  padding: 25px 25px 25px 20px;
  margin-bottom: 35px;
  margin-left: -15px;
  margin-right: -15px;
}


.panel-news-snippet {
  position: relative;
  padding-bottom: 60px;
}

.panel-news-snippet .go {
  position: absolute;
  background: #D71920;
  color: white;
  padding: 10px 20px;
  right: 0;
  bottom: 0;
}

.panel-news-snippet .title-after-img {
    margin-top: -41px;
    background: white;
    position: relative;
    display: inline-block;
    padding: 20px 20px 0px 0px;
}


.title {
  margin: 0px;
  margin-bottom: 15px;
  line-height: 4.3rem;
}
.meta {
  margin-left: 0px;
}
.content {
  margin-left: 0px;
}

.content h1, 
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
  margin-left: 0px;
}
.content .img-responsive {
  padding-top: 10px;
  margin-bottom: 15px;
  border-bottom: 3px solid #D71920;
}

.img-border {
  border-bottom: 3px solid #D71920;
}


.panel-agenda-item {
  padding: 0 0 0 !important;
}
.panel-agenda-item .img-header {
  position: relative;
}


.panel-agenda-item .item .location,
.panel-agenda-item .item .time {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}

.panel-agenda-item .item .tag {
  margin-top: 10px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #adadad;
  text-transform: uppercase;
}
.panel-agenda-item .item {
  position: relative;
  bottom: 0;
  left: 0;
  background: #fff;
  color: #000;
  padding: 15px 25px 15px 20px;
}

.panel-agenda-item .copyright-img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 1.3rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.71);
  text-transform: uppercase;
  padding: 5px 14px;
  background: rgba(0, 0, 0, 0.21);
  z-index: 0;
  max-width: 60%;
}

.panel-agenda-item .buy {
  background-color: #E7E7E7;
  margin: -15px 0px 25px 0px;
  padding: 5px 20px 25px;
}

.panel-agenda-item h3 {
  margin-bottom: 20px;
}
.panel-agenda-item .buy td {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
  padding-bottom: 15px;
  white-space: nowrap;
}
.panel-agenda-item .buy td.amount {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #666;
}
.panel-agenda-item .seats {
  margin-right: 10px;
  text-align: center;
}


.panel-agenda-item .item h2 {
  line-height: 4.6rem;
}

.panel-agenda-item .date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 30px 10px;
  background: #D71920;
  color: white;
  z-index: 1
}
.panel-agenda-item .dayotw {
  display: block;
  text-align: center;
  font-size: 225%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.panel-agenda-item .day {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 7px;
}

.panel-agenda-item .content {
  padding: 25px 25px 25px 20px;
}



.panel-agenda {
  padding: 25px 0 0 !important;
}

.panel-agenda .title {
  margin: 0 25px 25px 20px;
}

.panel-agenda .title .year,
.title span {
  color: #bbb;
}

.panel-agenda .table {
  margin: 0;
}

.panel-agenda .table tr:hover {
  cursor: pointer;
}

.panel-agenda .table tr:hover .item {
  background: #eaeaea;
  background: linear-gradient(to right, #eaeaea 50%, #fff 50%);
  background-size: 200% 100%;
  background-position:left bottom;
}

.panel-agenda .table td {
  vertical-align: middle;
}

.panel-agenda .date {
  padding: 10px 25px;
  background: #D71920;
  color: white;
  width: 125px;
}

.panel-agenda .img {
  padding: 0px;
  width: 175px;
  height: 100%;
}


.panel-agenda .img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.panel-agenda .item {
  background: #fff;
  background: linear-gradient(to right, #eaeaea 50%, #fff 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  margin-left:10px;
  color: #000;
  padding: 15px 25px 15px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.panel-agenda .item .location,
.panel-agenda .item .time {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.panel-agenda .item .tag {
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #adadad;
  text-transform: uppercase;
}

.panel-agenda .item .go {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: white;
  text-transform: uppercase;
  padding: 5px 14px;
  background: #D71920;
}

.panel-agenda .item h2 {
  margin-top: 5px;
  font-size: 2.4rem;
  line-height: 1.4; 
}

.panel-agenda .dayotw {
  display: block;
  text-align: center;
  font-size: 225%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.panel-agenda .day {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
}



.datepicker-inline {
  width: 320px;
  margin: 20px 0 -12px -7px;
  padding: 0;
}
.datepicker table {
  border-collapse: separate;
  border-spacing: 5px;
}
.datepicker .table-condensed>thead>tr>th {
  font-size: 1.5rem;
}
.datepicker td {
  padding: 10.5px 9.5px !important;
  line-height: 1;
  margin: 0;
}

.datepicker .active-day {
  background-color: #eaeaea;
  border-radius: 50px;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover {
  background-color: #eaeaea;
  background-image: none;
  filter: none;
  border: none; 
  color: #333;
}

.datepicker table tr td.today, 
.datepicker table tr td.today:hover, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover {
  background-color: #D71920;
  background-image: none;
  filter: none;
  border: none;
  color: white;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled, .datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled, .datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled], .datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #D71920;
  background-image: none;
  filter: none;
  border: none;
  color: white
}
.datepicker td, 
.datepicker th {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/*.panel-agenda .month {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  font-size: 125%;
  margin-top: -5px;
  margin-bottom: 5px;
}*/

.widget-course  .table {
  margin-top: 20px;
  margin-bottom: 0px;
}

.widget-course .table>tfoot>tr>td {
  padding: 0;
}
/*.widget-course .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #D71920;
}*/
.widget-course .table>thead,
.widget-course .table>tbody {
  background-color: #EDEDED;
}
.widget-course .table>tbody>tr>td {
  padding: 10px 15px;
}
.widget-course .table>thead>tr>th {
  padding: 10px 25px;
}
.widget-course .table>tbody>tr>td:first-child {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #666;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.widget-course .table>tbody>tr>td:last-child {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.widget-course .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 3px solid #D71920;
}



footer {
  border-bottom: 5px solid white;
  background: white;
  padding: 35px 0;
  text-align: center;
}

footer .ml-minus {
  margin-top: 25px;
}

footer .mr-plus {
  margin-right: 30px
}


footer img.logo {
  width: 20%;
  text-align: center;
  display: inline;
  margin-bottom: 30px;
}

footer .text-right {
  text-align: center;
}


.colofon {
  margin-top: 0px;
  background: #F2F2F2;
  color: #7F7F7F;
  padding: 25px;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}



.usva-widget {
  background: white;
  box-shadow: 5px 5px 0px 0px rgb(144, 0, 5);
  padding: 35px 45px 35px 35px;
  margin-bottom: 35px;
  display: block;
}

a.usva-widget:hover {
  text-decoration: none;
  cursor: pointer;
}

.widget-red {
  background-color: #D71920;
  box-shadow: 5px 5px 0px 0px rgb(144, 0, 5);
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.widget-red:hover {
  background-color: #900005;
  box-shadow: 3px 3px 0px 0px rgb(144, 0, 5);
  color: white;
}

.usva-widget .title {
  margin:0;
  font-size: 2.4rem;
  line-height: 1.4;
}

.widget-red .title {
  color: white;
}



.widget-link {
  padding: 20px 0 20px 35px;
}



.widget-agenda {
  padding: 35px 0 0;
}

.widget-agenda .title {
  margin: 0 0 35px 35px;
}

.widget-agenda .table {
  margin: 0;
}

.widget-agenda .table tr:hover {
  cursor: pointer;
}

.widget-agenda .table tr:hover .item {
  background: #900005;
  background: linear-gradient(to right, #900005 50%, #D71920 50%);
  background-size: 200% 100%;
  background-position:left bottom;
}

.widget-agenda .table td {
  vertical-align: middle;
}

.widget-agenda .date {
  padding: 10px 25px;
  background: #900005;
  color: white;
}

.widget-agenda .item {
  background: #D71920;
  background: linear-gradient(to right, #900005 50%, #D71920 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  margin-left:10px;
  color: white;
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.widget-agenda .day {
  display: block;
  text-align: center;
  font-size: 150%;
  text-transform: uppercase;
}

.widget-agenda .month {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 75%;
  margin-top: -5px;
  margin-bottom: 5px;
}

.widget-agenda .more {
  display: inline-block;
  margin: 20px 35px;
}



.btn-default {
  background: #666;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.6rem;
  padding: 4px 14px;
  border: none;
  height: 34px;
}

.btn-red {
  background: #D71920;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.6rem;
  padding: 4px 14px;
  border: none;
  height: 34px;
}

.btn-lg {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.btn-xl {
  font-size: 1.7rem;
  line-height: 2.6rem;
  height: 52px;
  padding: 13px 15px;
}

.btn-default:hover,.btn-default:focus,.btn-default:active {
  background: #454545;
  color: white;
}
.btn-red:hover,.btn-red:focus,.btn-red:active {
  background: #900005;
  color: white;
}



.searchbar-grow {
  width: 160px !important;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition:width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  border: solid 1px white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.searchbar-grow:focus {
  width: 220px !important;
  border-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {


}

/* Small Devices, Tablets */
@media (min-width : 768px) {


  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }


  /* Again, you’re free to use and define the classes: */
  .column { 
    float: left;
    width: 100% 
  }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }


  #nav-main-logo {
    opacity: 0;
  }

  header {
    height: 300px;
    max-height: 300px;
    margin-bottom: 35px;
  }

  .header-text {
    bottom: 25px;
    left: 0;
    right: 0;
  }

  .usva-panel {
    background: white;
    -webkit-box-shadow: 5px 5px 0px 0px rgb(144, 0, 5);
    -moz-box-shadow: 5px 5px 0px 0px rgb(144, 0, 5);
    box-shadow: 5px 5px 0px 0px rgb(144, 0, 5);
    padding: 45px 45px 45px 45px;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .title {
    margin: 0px;
    margin-bottom: 25px;
    line-height: 4.3rem;
  }

  .widget-course  .table {
    margin-bottom: 45px;
    margin-top: 0;
  }
/*  .usva-panel-wide {
    padding: 45px 45px 45px 45px;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }*/


  .panel-news-snippet .title-after-img {
      margin-top: -41px;
      background: white;
      position: relative;
      display: inline-block;
      padding: 25px 30px 0px 25px;
  }

  .panel-news-snippet {
    position: relative;
    padding-bottom: 45px;
  }

  .panel-agenda .title {
    margin: 20px 0 45px 45px;
  }

  .meta {
    margin-left: 25px;
  }
  .content {
    margin-left: 25px;
    padding-right: 45px
  }
  .usva-panel-col-12 .content {
    padding-right: 75px
  }
  .content h1, 
  .content h2, 
  .content h3, 
  .content h4, 
  .content h5, 
  .content h6 {
    margin-left: -20px;
  }
  footer img.logo {
    width: 65%;
  }

  footer {
    text-align: left;
  }

  footer .text-right {
    text-align: right;
  }

  footer .ml-minus {
    margin-left: -30px;
    margin-top: 0px;
  }


  .panel-agenda-item .item {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    color: #000;
    padding: 25px 45px 15px 45px;
  }
  .panel-agenda-item .date {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    padding: 32px 35px 20px;
    background: #D71920;
    color: white;
  }

  .panel-agenda-item .content {
    padding: 45px 90px 45px 45px;
  }

  .panel-agenda-item .buy {
    background-color: #E7E7E7;
    margin: -25px 70px 35px 70px;
    padding: 5px 25px 25px;
  }


  .dropdown-submenu>.dropdown-menu{
    margin-top: -41px !important;
    -webkit-border-radius:0 0px 0px 0px;
    -moz-border-radius:0 0px 0px 0px;
    border-radius:0 0px 0px 0px;
    border: none;
    padding-top: 10px;
    -webkit-box-shadow: 6px 0px 12px -2px rgba(0,0,0,.175);
    box-shadow: 6px 0px 12px -2px rgba(0,0,0,.175);
  }
  #nav-main li.active>a {
    border-bottom: 4px solid #D71920;
    background: white;
    color: #D71920;
  }
  
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {

  .dropdown-submenu>.dropdown-menu{
    margin-top: -48px !important;
    -webkit-border-radius:0 0px 0px 0px;
    -moz-border-radius:0 0px 0px 0px;
    border-radius:0 0px 0px 0px;
    border: none;
    padding-top: 10px;
    -webkit-box-shadow: 6px 0px 12px -2px rgba(0,0,0,.175);
    box-shadow: 6px 0px 12px -2px rgba(0,0,0,.175);
  }


  #nav-main li a {
      font-size: 2rem;
  }

  #nav-main .dropdown-menu li a {
    font-size: 1.75rem;
  }




/*  footer img.logo {
    width: 65%;
  }*/

}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

}